{% extends "base.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ parent() }}

{% endblock %}

{% block content %}
    <div class="container container-lg">
        <main>
            <form method="post" class="row g-3 needs-validation" novalidate="">

                <div class="col-md-5">
                    <label for="text" class="form-label">New note</label>
                    <textarea name="text" class="form-control" id="text" required="" rows="10" placeholder="{% if (result is empty) %}
                            {{"Write a note"|trim}}
                        {% endif %}">{{ result }}</textarea>
                    <div class="invalid-feedback">
                        Please enter text.
                    </div>
                </div>

                <div class="col-md-5">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </main>
    </div>


{% endblock %}